<h3>The Creators Dream</h3>
<hr>
<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
      <img src=<%= asset_path 'creator.jpg' %> alt="">
    </a>

    <p>dream to be a elegant lady. like a shining star in the world</p>
  </li>
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src=<%= asset_path 'fashion.jpg' %> alt="">
    </a>

    <p>dream to be a elegant lady. like a shining star in the world</p>
  </li>

  <li class="span2">
    <a href="#" class="thumbnail">
      <img src=<%= asset_path 'fashion.jpg' %> alt="" title="dream to be a elegant lady. like a shining star in the world">
    </a>

    <p>dream to be a elegant lady. like a shining star in the world</p>
  </li>


</ul>