<form>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Welcome Back</h3>
    </div>
    <table>
      <tr>
        <th>UserName:</th>
        <th><input name="user" type="text"></th>
      </tr>
      <tr>
        <th>Password:</th>
        <th><input name="user" type="Password"></th>
      </tr>
    </table>
    <div class="modal-footer ">
      <span class="pull-left"><input type="checkbox" checked="false" >remember me</span>
      <button class="btn btn-warning" type="reset">Reset</button>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>

</div>
</form>