<form>
  <fieldset>
    <legend>My word for new Dreamlander &nbsp;</legend>
    <div>
      welcome for sign as one of my friends. I'd like to say thank u for your appreciation of my blog and I feel honored
      to have your attention. Meanwhile i must tell u something i cannot stand. That is no shit words is allowed here.we
      are on the way to land our dream. in the end, welcome new dreamlander.
    </div>

<br>
<br>
  <ul class="thumbnails ">
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src=<%= asset_path('userimg/welcome.gif') %> data-src="holder.js/300x200" alt="">
      </a>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src=<%= asset_path('userimg/welcom.gif') %> data-src="holder.js/300x200" alt="">
      </a>
    </li>

  </ul>
  </fieldset>
</form>