<h3>Blog Title</h3>
<input type="text" name="title" placeholder="Type your title here">
<h3>Blog Content</h3>
<%= kindeditor_tag :content, 'default content value', :width => 800, :height => 300 %>

<br>
<button type="submit" class="btn btn-primary" >Submit </button>&nbsp;
<button type="reset" class="btn btn-danger" >Reset</button>