// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signboard{
  background: rgba(0,0,0,.5);
  //padding: 20px 10px 20px 10px;
}

label.valid {
  width: 24px;
  height: 24px;
  background: url(valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}